body {
    margin: 0;
}

.Navbar {
    background: lightgreen;
}

.ToDoContainer {
    background: lightsalmon;
}

.DoneContainer {
    background: lightslategray;
}

.ListItem {
    background: lightsteelblue;
    border: solid;
    border-color: black;
}